// Define variables for your color scheme

// For example:

$yellow: #FFC65A;
$orange: #E67E22;
$red: #FF0000;
$blue: #0000FF;
$black: #000000;
$gray: #C1C1C1;
$green: #008000;
$main-blue: #0A4D71;
$light-green: #A6BBA6;
$light-blue: #CEDBE3;
$white: #FFFFFF;
$light-red: #C19999;
$light-gray: #D9D9D9;
