.my-items-container {
  background-image: url('logo_background/list_background.png');
  background-size: contain;
  background-position: center 82%;
  background-repeat: no-repeat;
  padding: 20px;
  min-height: 100vh;
}

h1 {
 color: #0A4D71;
}

body{
  background-color: white;
}
