<h1>Nearby Stores</h1>

<div>
  <% @total_by_store.each do |h| %>
    <div>
      <h2><%= h[:store] %></h2>
      <p>Total List Price of Items: $<%= h[:total_price] %></p>
    </div>
  <% end %>
</div>
