<div class="container">
  <div class="logo-container">
    <div></div>
    <%= image_tag 'logo_background/logo.png', alt: 'Logo', class: 'logo' %>
    <div></div>
  </div>
  <div class="user-greeting text-center">
    <% if user_signed_in? %>
      <h1 class="text-center">Welcome <%= current_user.email %>!</h1>
      <div class="d-flex justify-content-center align-items-center">
        <%= image_tag 'profile_pictures/carlo_profile.jpg', class: 'avatar avatar-custom', alt: 'avatar' %>
      </div>
      <%= link_to "Start Shopping!", my_items_path, class: "btn btn-dark text-center mt-10 custom-blue-btn" %>
    <% end %>
  </div>
</div>
