

<div class="user-greeting text-center">
    <% if user_signed_in? %>
      <h1 class="text-center">Welcome <%= current_user.email %>!</h1>
      <div class="d-flex justify-content-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "avatar" %>
      </div>
      <%= link_to "Start Shopping!", my_items_path, class: "btn btn-dark text-center mt-10" %>
</div>
    <% end %>
