<div data-controller='search-items'>
  <%= simple_form_for my_items_path, data: { search_items_target: 'form'} do |f| %>
    <%= f.input :name, value: params[:name], input_html: { data: { search_items_target: 'input', action: 'keyup->search-items#results' } } %>
    <%= render "results" %>
  <% end %>
</div>
