<div data-controller="search-items">
  <%= simple_form_for my_items_path, data: { search_items_target: 'form' }, html: { class: 'search-form' } do |f| %>
    <div class="search-bar">
      <div class="search-input input-group-prepend">
        <%= f.input :name, label: false, placeholder: "Add items to your list", value: params[:name],
         input_html: { class: 'search-input rounded-pill',
         data: { search_items_target: 'input', action: 'keyup->search-items#results' } } %>
         <i class="fa-solid fa-magnifying-glass"></i>
      <span class="close-icon">&#10006;</span>
      </div>
    </div>
    <%= render "results" %>
  <% end %>
</div>
