<div data-search-items-target='results'>
  <% unless params[:query].blank? %>
    <ul class='list-group'>
      <% @items.each do |item| %>
        <% params[:item_id] = item.id %>
        <li class='list-group-item'>
          <%= item.name %>
          <%= link_to 'Add item', my_item_path(item), data: { turbo_method: :post } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
