<div class="my-items-container">
  <h1 class="text-center">Grocery List</h1>
  <%= render "form" %>

  <%# <%= link_to "Add Item", my_items_path, class: "btn btn-dark text-center mt-10" %>

  <div class="row">
    <div class="col">
      <div class="cards">
        <% @user_items.each do |user_item| %>
          <div class="card-body">
            <h5 class="card-title"><%= user_item.item.name %></h5>
            <%= link_to "Delete", my_item_path(user_item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
