<div class="container">
  <div class="row">
    <div class="col" data-controller="search-items">
      <%= render "form", item: @item %>
      <ul class="list-unstyled" data-search-items-target="results">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>My Items</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <ul>
          <% @user_items.each do |user_item| %>
            <div class="card-body">
              <li class="card-title"><%= user_item.item.name %></li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
