<div class="my-items-container" data-controller="toggle-empty-message">

  <h1 class="text-center">Recipe Ideas</h1>

  <% current_recipe = { name: "", ingredients: [], instructions: [] } %>

  <% @recipes_list.lines.each do |line| %>
    <% line = line.chomp %>

    <% if line.start_with?("1. ") %>
      <% current_recipe[:name] = line.sub("1. ", "").strip %>
    <% elsif line.start_with?("- ") %>
      <% current_recipe[:ingredients] << line.sub("- ", "").strip %>
    <% elsif line.start_with?("2. ") %>
      <% current_recipe[:instructions] << line.sub("2. ", "").strip %>
    <% end %>
  <% end %>

  <div class="recipe-container">
    <h4><%= current_recipe[:name] %></h4>
    <img src="" alt="Recipe Image">
    <p><strong>Ingredients:</strong></p>
    <ul>
      <% current_recipe[:ingredients].each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
    <p><strong>Instructions:</strong></p>
    <p><%= current_recipe[:instructions].join(" ") %></p>
  </div>
</div>
