<div data-search-items-target='results'>
  <% unless params[:query].blank? %>
    <ul class='list-group'>
      <% @items.each do |item| %>
        <li class='list-group-item'>
          <%= item.name %>
          <%= link_to 'Add item', "#{my_items_path}?item_id=#{item.id}", data: { turbo_method: :post } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
