.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #0A4D71;
  padding: 5px 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-icon,
.close-icon {
  color: #607D8B;
  cursor: pointer;
  margin: 0 10px;
}

.search-input {
  flex-grow: 1;
  display: flex;
}

.search-input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #607D8B;
  padding: 10px 0;
}

.search-input input::placeholder {
  color: #B0BEC5;
}

.search-icon {
  font-size: 20px;
}

.close-icon {
  font-size: 20px;
}
